.header {
    &__container {
        height: 100vh;
        background-image: url(../../img/01-header.jpg);
        background-position: left center;
    }

    &__box {
        color: $text-inverse;
    }
}