.header {
    height: 100vh;
        background-image: url(../../img/01-header.jpg);
        background-position: 15% center;
        background-size: cover;
        background-repeat: no-repeat;

    &__box {
        color: $text-inverse;
        text-align: center;
    }
}