.nav {
    border-bottom: 1px solid lightgray;

    &__container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;

        @include tablet-down {
            flex-wrap: wrap;
        }
    }

    &__logo-link {
        text-decoration: none;
        color: $text-nav-logo;
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        
        @include tablet-down {
            flex-direction: column;
            flex: 1 100%;
            max-height: 0;
            overflow: hidden;
            transition: all .5s ease-in-out;

            &--is-open {
                max-height: 20rem;
            }
        }
    }

    &__item {
        margin-left: 5rem;

        @include tablet-down {
            margin: 1rem auto;

            &:first-child {
                margin-top: 2rem;
            }
        }
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $text-nav-li;
        font-size: 1.3rem;
        font-weight: $font-middle;
        padding: 0.5rem 0;

        &--underline {
            border-bottom: 2px solid $color-accent;
            border-top: 2px solid transparent;
        }
    }

    &__toggle {
        display: none;

        @include tablet-down {
            display: block;
            padding: 1.2rem;
        }
    }

    &__hamburger,
    &__hamburger::before,
    &__hamburger::after {
        content: '';
        display: block;
        width: 3rem;
        height: .3rem;
        background: $text-nav-li;
        transition: all ease-in-out 250ms;
    }

    &__hamburger::before {
        transform: translateY(-0.6rem);
    }

    &__hamburger::after {
        transform: translateY(0.3rem);
    }

    &__hamburger {

        &--is-open {
            transform: rotate(45deg);

            &:before {
                opacity: 0;
            }

            &::after {
                transform: rotate(-90deg) translateX(0.3rem);
            }
        }
    }
}