.works {

    &__container {
        width: 100%;
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-gap: 1.5rem;
        grid-template-areas:
            "nature nature urban"
            "people wedding urban"
            "architecture architecture animals";
    }

    &__nature {
        grid-area: nature;
    }

    &__urban {
        grid-area: urban;
    }

    &__people {
        grid-area: people;
    }

    &__wedding {
        grid-area: wedding;
    }

    &__architecture {
        grid-area: architecture;
    }

    &__animals {
        grid-area: animals;
    }

    &__img-box {
        position: relative;
    }

    &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }

    &__img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $text-inverse;
        padding: .5rem 4rem;
    }

    &__text-heading {
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    &__text-line {
        display: block;
        height: .2rem;
        background-color: $text-inverse;
        margin: 1rem -1rem;
    }

    &__text-paragraph {
        color: $text-inverse;
        white-space: nowrap;
    }

    &__border {
        display: block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        border: 2px solid $text-inverse;

        &--top-left {
            top: 0;
            left: 0;
            border-right: transparent;
            border-bottom: transparent;
        }

        &--top-right {
            top: 0;
            right: 0;
            border-left: transparent;
            border-bottom: transparent;
        }

        &--bottom-left {
            bottom: 0;
            left: 0;
            border-top: transparent;
            border-right: transparent;
        }

        &--bottom-right {
            bottom: 0;
            right: 0;
            border-top: transparent;
            border-left: transparent;
        }
    }

    &__button {
        margin: 5rem auto;
    }
}