.section {

    &__box {
        width: 65%;
        margin: 0 auto 2rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include phone {
            width: 85%;
        }
    }

    &__pinkish-line {
        display: block;
        width: 6.2rem;
        height: .3rem;
        background-color: $color-accent;
        margin: 2.5rem 0 3.5rem;
    }
}